In [5]:
import numpy as np

In [22]:
# numpy를 이용해서 array 정의하기
x = np.array([[1,2,3],[4,5,6]])
print('x: \n',x)

x:
 [[1 2 3]
 [4 5 6]]

In [23]:
# array의 형태, 크기 확인하기
x.shape

(2, 3)

In [25]:
# array의 자료형 확인
x.dtype

dtype('int32')

### 🔎 numpy 자료형
- 부호가 있는 정수 int(8, 16, 32, 64)
- 부호가 없는 정수 uint(8 ,16, 32, 54)
- 실수 float(16, 32, 64, 128)
- 복소수 complex(64, 128, 256)
- 불리언 bool
- 문자열 string_
- 파이썬 오프젝트 object
- 유니코드 unicode_

### 📌 numpy에서 array를 정의할 때 사용되는 함수들
- np.zeros()
- np.ones()
- np.arange()

In [36]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [37]:
np.zeros((3,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [38]:
# np.zeros() => 인자의 크기만큼 모든 요소가 0인 array생성

In [39]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [40]:
np.ones((3,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [41]:
# np.ones() => 인자의 크기만큼 모든 요소가 1인 array생성

In [42]:
np.arange(3,10,2)

array([3, 5, 7, 9])

In [35]:
# np.arange() => 인자의 range를 array로 만들어준다. (python의 range함수와 비슷)

## 📌 Array 연산
- 기본적으로 numpy에서 연산을 할 때 크기가 동일한 array끼리 연산을 진행

- 같은 위치에 원소들끼리 연산

In [57]:
arr1 = np.array([[1,2,3],[4,5,6]])
arr2 = np.array([[1,1,1],[1,1,2]])
print(arr1, arr2, sep='\n\n')

[[1 2 3]
 [4 5 6]]

[[1 1 1]
 [1 1 2]]

In [58]:
arr1 + arr2

array([[2, 3, 4],
       [5, 6, 8]])

In [59]:
arr1 - arr2

array([[0, 1, 2],
       [3, 4, 4]])

In [62]:
# 곱셈의 경우 행렬의 곱이 아니라 각 위치의 원소들끼리만 곱해짐!!!
arr1 * arr2

array([[ 1,  2,  3],
       [ 4,  5, 12]])

In [63]:
arr1 / arr2

array([[1., 2., 3.],
       [4., 5., 3.]])

### 🔎 Array의 브로드 캐스트 
- 크기가 다른 array끼리의 연산에 사용

In [67]:
arr3 = [1,1,1]
print(arr1, arr3, sep='\n')

[[1 2 3]
 [4 5 6]]
[1, 1, 1]

In [68]:
arr1 + arr3

array([[2, 3, 4],
       [5, 6, 7]])

이와 같이 [1.1.1]이 [[1,1,1],[1,1,1]]로 확장되어 연산되었음을 볼 수 있음

이를 활용해 array에 `스칼라 연산`가능

In [75]:
arr1 * 10

array([[10, 20, 30],
       [40, 50, 60]])

In [76]:
arr1 ** 2

array([[ 1,  4,  9],
       [16, 25, 36]], dtype=int32)

### 🔎 Array 인덱싱
이 역시 파이썬과 거의 동일

In [79]:
arr1 = np.arange(10)
arr1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [80]:
arr1[1]

1

In [81]:
arr1[3::]

array([3, 4, 5, 6, 7, 8, 9])

In [84]:
arr1[3:5]

array([3, 4])

In [86]:
# 다차원 인덱싱
arr2 = np.array([[1,2,3],[4,5,6]])
arr2

array([[1, 2, 3],
       [4, 5, 6]])

In [93]:
# 첫 번째 행 꺼내기
arr2[0]

array([1, 2, 3])

In [94]:
# 두 번째 행 꺼내기
arr2[1]

array([4, 5, 6])

In [99]:
# 인덱싱은 두개의 인자 (행,열)을 입력
# 2행 1열 원소 꺼내기
arr2[1,0]

4

In [101]:
# 다시 두 번째 행 다 꺼내기
arr2[1,:]

array([4, 5, 6])

### 🔎 Array boolean 인덱싱(`마스크`)
- 위 다차원 인덱싱을 응용하여 boolean 인덱싱 가능
- 주로 `마스크`라고 불림
- boolean 인덱싱을 통해 만들어낸 array를 통해 원하는 행, 열의 값만 추출 가능
- 즉, 마스크처럼 가리고 싶은 부분을 가리고, 원하는 요소만 꺼낼 수 있음

In [116]:
names = np.array(['Tedhoon','Tedhoon','Kim','Joan','Lee','Tedhoon','Park','Tedhoon'])
names

array(['Tedhoon', 'Tedhoon', 'Kim', 'Joan', 'Lee', 'Tedhoon', 'Park',
       'Tedhoon'], dtype='<U7')

In [117]:
names.shape

(8,)

In [118]:
# np.random.randn() => 기대값 0, 표준편차가 1인 가우시안 정규분포 내의 난수 발생
# np.random.rand() => 0~1사이의 난수 발생 
data = np.random.randn(8, 4)
data

array([[ 1.54580125, -0.06161628, -0.32684941, -1.16694205],
       [ 0.1908093 ,  1.60349784,  1.0595531 ,  1.08187309],
       [ 0.63392174,  0.65381682, -2.057535  , -1.46271934],
       [-0.03040503, -0.56615758, -1.34919941, -0.80215478],
       [ 1.49505047, -0.76972448, -0.31215774, -1.18960826],
       [-0.68253217,  0.21522015, -0.74015803, -0.53077388],
       [ 0.02942756, -0.22235396, -1.27172047, -0.53248943],
       [ 0.11405526, -0.10839927, -1.94248377,  2.79873468]])

In [119]:
data.shape

(8, 4)

In [132]:
# names에서 값이 'Tedhoon'인 mask에 대한 mask 생성
names_Tedhoon_mask = (names == 'Tedhoon')
names_Tedhoon_mask

array([ True,  True, False, False, False,  True, False,  True])

In [133]:
data[names_Tedhoon_mask,:]

array([[ 1.54580125, -0.06161628, -0.32684941, -1.16694205],
       [ 0.1908093 ,  1.60349784,  1.0595531 ,  1.08187309],
       [-0.68253217,  0.21522015, -0.74015803, -0.53077388],
       [ 0.11405526, -0.10839927, -1.94248377,  2.79873468]])

1. names에서 Tedhoon의 값을 가진 것은 0,1,5,7번 째
2. data에서 0,1,5,7번 째 행의 값들을 모두 추출가능

In [137]:
# 중간과정 생략하고 써보기
# 요소가 Tedhoon인 행의 데이터만 꺼내기
data[(names == 'Tedhoon'),:]

array([[ 1.54580125, -0.06161628, -0.32684941, -1.16694205],
       [ 0.1908093 ,  1.60349784,  1.0595531 ,  1.08187309],
       [-0.68253217,  0.21522015, -0.74015803, -0.53077388],
       [ 0.11405526, -0.10839927, -1.94248377,  2.79873468]])

In [138]:
# 논리연산도 가능
data[(names == 'Kim'),:]

array([[ 0.63392174,  0.65381682, -2.057535  , -1.46271934]])

In [140]:
data[(names == 'Tedhoon') | (names == 'Kim'), :]

array([[ 1.54580125, -0.06161628, -0.32684941, -1.16694205],
       [ 0.1908093 ,  1.60349784,  1.0595531 ,  1.08187309],
       [ 0.63392174,  0.65381682, -2.057535  , -1.46271934],
       [-0.68253217,  0.21522015, -0.74015803, -0.53077388],
       [ 0.11405526, -0.10839927, -1.94248377,  2.79873468]])

In [143]:
# 다른 조건으로 마스크 만들어서 인덱싱 해보기
mask_with_num_cond = data[:,0] < 0
# 0 번째 열이 0보다 작은 경우

In [144]:
mask_with_num_cond

array([False, False, False,  True, False,  True, False, False])

In [151]:
data[mask_with_num_cond,:]

array([[-0.03040503, -0.56615758, -1.34919941, -0.80215478],
       [-0.68253217,  0.21522015, -0.74015803, -0.53077388]])

In [152]:
# 특정 행, 열 부분에 원하는 값 삽입하기!

In [153]:
data

array([[ 1.54580125, -0.06161628, -0.32684941, -1.16694205],
       [ 0.1908093 ,  1.60349784,  1.0595531 ,  1.08187309],
       [ 0.63392174,  0.65381682, -2.057535  , -1.46271934],
       [-0.03040503, -0.56615758, -1.34919941, -0.80215478],
       [ 1.49505047, -0.76972448, -0.31215774, -1.18960826],
       [-0.68253217,  0.21522015, -0.74015803, -0.53077388],
       [ 0.02942756, -0.22235396, -1.27172047, -0.53248943],
       [ 0.11405526, -0.10839927, -1.94248377,  2.79873468]])

In [154]:
# 음수인 값에 모두 0을 넣어볼까?

In [158]:
is_zero = data[:] < 0
iz_zero

NameError: name 'iz_zero' is not defined